<section id="contact">
	<div class="row-1">
		<h2 class="highlight">Contact</h2>
	</div>
	<div class="row-2">
		<form id="contact-form">
			<div id="form-group-name" class="form-group">
				<label for="form-name">Name:</label>
				<input type="text" id="form-name" name="name" required />
			</div>
			<div id="form-group-email" class="form-group">
				<label for="form-email">Email:</label>
				<input type="email" id="form-email" name="email" required />
			</div>
			<div id="form-group-message" class="form-group">
				<label for="form-message">Message:</label>
				<textarea id="form-message" name="message" required></textarea>
			</div>
			<div id="recaptcha-branding">
				<!-- Recaptcha branding -->
				<p>
					This site is
					<b class="highlight">protected by reCAPTCHA</b>
					and the Google
					<a href="https://policies.google.com/privacy"
						>Privacy Policy</a
					>
					and
					<a href="https://policies.google.com/terms"
						>Terms of Service</a
					>
					apply.
				</p>
			</div>
			<button id="submit-form" type="submit">Send</button>
		</form>
	</div>
</section>
