<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inicio</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="/first-web/css/layout.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="/first-web/css/index.css"
		/>
	</head>
	<body>
		<div class="menu">
			<ul>
				<li><a href="/first-web/index">Inicio</a></li>
				<li><a href="/first-web/contacte">Contactar</a></li>
				<li><a href="/first-web/references">Referencias</a></li>
			</ul>
		</div>
		<p class="titulo">TIPOS DE PATINES<br />EN LÍNEA</p>
		<div class="izquierda">
			<h1 class="tipo">Freeskate</h1>
			<img
				src="/first-web/img/freeskate.png"
				alt="freeskate"
				class="patinamorfo"
			/>
			<p class="explicacion">
				Son los patines más polivalentes, adecuados tanto para un
				patinaje de calle como para los primeros pasos, muy versátiles.
				Recomendables para aprender técnica y/o introducirse a
				disciplinas como derrapes, salto, slalom o hockey.
			</p>
		</div>
		<div class="derecha">
			<h1 class="tipo">Slalom</h1>
			<img
				src="/first-web/img/slalom.png"
				alt="slalom"
				class="patinamorfo"
			/>
			<p class="explicacion">
				Adecuados para la práctica del slalom <br />(conos). Son patines
				precisos, que se ajustan perfectamente al pie y muy exigentes
				técnicamente.
			</p>
		</div>
		<div class="izquierda">
			<h1 class="tipo">Agresivo</h1>
			<img
				src="/first-web/img/agresivo.png"
				alt="agresivo"
				class="patinamorfo"
			/>
			<p class="explicacion">
				Adecuados para la práctica del patinaje <br />agresivo. Por lo
				general más robustos y pesados, resistentes a golpes y caídas.
				Orientados a saltos, giros y grinds.
			</p>
		</div>
		<div class="derecha">
			<h1 class="tipo">Fitness</h1>
			<img src="/first-web/img/fitness.png" alt="fitness" class="patin" />
			<p class="explicacion">
				Adecuados para un patinaje básico, orientado a paseos o rutas
				suaves. No recomendables para aprender técnica.
			</p>
		</div>
		<div class="izquierda">
			<h1 class="tipo">Hockey</h1>
			<img
				src="/first-web/img/hockey.png"
				alt="hockey"
				class="patinamorfo"
			/>
			<p class="explicacion">
				Adecuados para la práctica del hockey en <br />línea. Preparados
				para tener agarre en pista, realizar giros bruscos y cambios de
				velocidad.
			</p>
		</div>
		<div class="derecha">
			<h1 class="tipo">Velocidad</h1>
			<img
				src="/first-web/img/velocidad.png"
				alt="velocidad"
				class="patin"
			/>
			<p class="explicacion">
				Buscan el mayor aprovechamiento del esfuerzo del patinador para
				alcanzar la máxima velocidad. Botas bajas, ligeras y ruedas
				sensiblemente más grandes que en el resto de tipos de patines.
			</p>
		</div>
		<div class="izquierda">
			<h1 class="tipo">Todo terreno</h1>
			<img
				src="/first-web/img/todoterreno.png"
				alt="todoterreno"
				class="patin"
			/>
			<p class="explicacion">
				Se caracterizan por tener ruedas neumáticas más grandes de lo
				habitual para poder ser ser utilizados en cualquier superficie
				(hierba, tierra, asfalto, etc).
			</p>
		</div>
		<div class="derecha">
			<h1 class="tipo">Descenso</h1>
			<img
				src="/first-web/img/descenso.png"
				alt="descenso"
				class="patin"
			/>
			<p class="explicacion">
				Orientados a aguantar grandes velocidades con la máxima
				estabilidad. Equipan guías de 5 ruedas y botas altas y rígidas.
			</p>
		</div>

		<div id="divvideo">
			<button class="boton" id="botoncerrar">X</button>
			<button class="boton" id="botonplay">Play/stop</button>
			<video id="video">
				<source src="/first-web/img/tutorial.mp4" type="video/mp4" />
			</video>
		</div>
		<div class="clear"></div>
		<h2 class="h2video">
			Y como podría faltar, un pequeño tutorial de como bajar escaleras de
			espaldas
		</h2>
		<button class="boton" id="botonabrir">Click aqui para ver</button>

		<script
			type="text/javascript"
			charset="utf8"
			src="/first-web/js/index.js"
		></script>
	</body>
</html>
