<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referencias</title>
    <link rel="stylesheet" type="text/css" href="/first-web/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/first-web/css/references.css" />
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/first-web/index">Inicio</a></li>
            <li><a href="/first-web/contacte">Contactar</a></li>
             <li><a href="/first-web/references">Referencias</a></li>
        </ul>
    </div>
    <p class="titulo">REFERENCIAS</p>
    <div class="unico">
        <h1>De donde he sacado la información:</h1>
        <h2>Texto:</h2>
        <a href="http://madrid.clubtres60.com/tipos-de-patines-en-linea-y-sus-disciplinas/">http://madrid.clubtres60.com/tipos-de-patines-en-linea-y-sus-disciplinas/</a>
        <p>Una de las primeras páginas que encontré y como me parecían bastante buenas las explicaciones pues copié la informacion de ella.</p>
        <h2>Dudas sobre HTML5, JavaScript, CSS y demás:</h2>
        <a href="https://www.w3schools.com/html/default.asp">https://www.w3schools.com/html/default.asp</a>
        <p>Me ha ayudado bastante, sobretodo con el menú y javascript</p>
    </div>
</body>
</html>
