/* base.css */
.grecaptcha-badge {
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  color: #c2d9ff;
}

canvas {
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.highlight {
  text-shadow: #7752fe 0 0 30px;
}

footer {
  color: #c2d9ff;
  text-align: center;
  padding: 1rem;
  font-size: 2vh;
}
