.grecaptcha-badge {
    visibility: hidden;
}

html {
    scroll-behavior: smooth
}

body {
    background-color: #000;
}

* {
    margin: 0;
    padding: 0;
    color: #C2D9FF;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #000;
    border-bottom: #fff solid 3px;
    border-top: #fff solid 3px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}


#header-menu nav ul {
    display: flex;
    list-style-type: none;
}

#dropdown-menu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 100;
    visibility: hidden;
}

#dropdown-menu nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
}

.dropdown-menu a {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-bottom: #fff solid 3px;
    text-decoration: none;
    white-space: nowrap;
    /* Prevent "About me" to overflow */
}

.dropdown-menu a li p {
    font-size: 5vh;
    /*text-decoration: none;*/
    white-space: nowrap;
    /* Prevent "About me" to overflow */
}

.dropdown-menu a:hover *,
.dropdown-menu a:hover {
    color: black;
    background-color: white;
}

.nav-menu {
    display: none;
}

#dropdown-menu-icon {
    background-color: #000;
}

#dropdown-menu-icon:hover {
    fill: #000;
    background-color: #f5f5f5;
}

#logo {
    position: fixed;
    left: 2vw;

}

#logo img {
    height: 50px;
}

.menu li a,
#dropdown-menu-icon {
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border: #fff solid 2px;
    border-radius: 10px;
    background-color: black;
    white-space: nowrap;
    /* Prevent "About me" to overflow */
}

.menu li *:hover {
    color: black;
    background-color: white;
}

section {
    padding-top: 75px;
    margin-top: -75px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    z-index: 2;
}

.row-1 {
    grid-column: 2;
    grid-row: 1;
    padding-top: 10vh;
}

.row-2 {
    grid-column: 2;
    grid-row: 2;
}

.row-3 {
    grid-column: 2;
    grid-row: 3;
}

section#intro {
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

#big-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 33vh;
    margin-bottom: 5vh;
}

#name {
    font-size: 7vh;
    text-align: center;
}

.highlight {
    text-shadow: #7752FE 0 0 30px;
}

#intro .row-2 {
    padding-top: 8vh;
    margin-left: auto;
    margin-right: auto;
}

#intro-menu nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}

#intro-menu nav ul li {
    display: inline-block;
}

#intro .row-3 {
    padding-top: 2vh;
}

#intro .row-3 a {
    display: block;
    width: 100%;
    height: 100%;
}
#expand {
    display: block;
    margin: auto;
    height: 100px;
    animation: updown 1s infinite;
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

section#about-me {
    grid-template-rows: auto 1fr auto;
}

#about-me .row-1 {
    margin-bottom: 0;
}

#about-me .row-1 h2 {
    font-size: 5vh;
}

#about-me .row-1 p {
    /*margin-top: 5vh;*/
    font-size: 4vh;
}


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.container {
    width: 50%;
    position: relative;
    margin-top: 1vh;
}

dot {
    width: 25px;
    height: 25px;
    background-color: black;
    border: 4px solid #C2D9FF;
    border-radius: 50%;
    z-index: 1;
}

.right dot {
    float: left;
}

.right .content {
    float: left;
    width: calc(100% - 45px);
}

.left dot {
    float: right;
}

.left .content {
    text-align: right;
    float: right;
    width: calc(100% - 45px);
}

.left,
.right {
    clear: both;
}

.left,
.right .techs, .project-card .techs {
    float: left;
}

.right,
.left .techs {
    float: right;
}

.techs-icon-box {
    background-color: #f5f5f5;
    color: #000;
    width: fit-content;
    height: fit-content;
    border-radius: 20%;
    padding: 7px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.techs-icon-box:hover {
    transform: translateY(-5px);
}

.more-techs {
    background-color: #000;
    border: 2px solid #C2D9FF;
    color: #f5f5f5;
    border-radius: 20%;
    padding: 7px;
    margin: 5px;
}

.more-techs-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    padding: 5px;
    border: 2px solid #f5f5f5;
    white-space: nowrap;
    z-index: 1;
    transition: opacity 300ms;
}

.more-techs:hover {
    background-color: #C2D9FF;
    color: #000;
}

.more-techs:hover .more-techs-tooltip {
    visibility: visible;
    opacity: 1;
}

.tech-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

section#projects {
    grid-template-rows: auto 1fr auto;
}

#projects .row-1 {
    margin-bottom: 3vh;
}

#projects .row-1 h2 {
    font-size: 5vh;
}


#all-projects {
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
}

/*Last child only if is even*/
#all-projects>div:nth-child(odd):last-child {
    grid-column: 1 / 3;
    margin: auto;
}

.project-card {
    background-color: rgba(194, 217, 255, 0.1);
    border: 1px solid #C2D9FF;
    /*border-radius: 10px;*/
    padding: 20px;
    align-self: stretch;
    max-width: 400px;

}

.project-card h2 {
    margin-top: 0;
    font-size: 24px;
}

.project-card p {
    font-size: 16px;
    line-height: 1.5;
}

.project-github-svg {
    float: left;
    clear: right;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}


section#contact {
    grid-template-rows: auto auto auto;
    margin-bottom: 3vh;
}

#contact .row-1 {
    margin-bottom: 3vh;
}

#contact .row-1 h2 {
    font-size: 5vh;
}

#contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) auto 1fr;
    gap: 1rem;
    max-width: 750px;
    min-width: none;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

#form-group-name {
    grid-area: 1 / 1 / 2 / 2;
}

#form-group-email {
    grid-area: 1 / 2 / 2 / 3;
}

#form-group-message {
    grid-area: 2 / 1 / 3 / 3;
}

.form-group label {
    font-size: 3vh;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    background-color: #000;
    color: #c2d9ff;
    border: 1px solid #c2d9ff;
    font-size: 2vh;
    min-width: none;
    padding: 1rem;
}

#recaptcha-branding {
    grid-area: 3 / 1 / 4 / 3;
}

#submit-form {
    background-color: #000;
    color: #c2d9ff;
    border: 2px solid #c2d9ff;
    font-size: 3vh;
    cursor: pointer;
    grid-area: 4 / 1 / 5 / 3;
    transition: background-color 0.3s, color 0.3s;
}

#submit-form:hover {
    background-color: #c2d9ff;
    color: #000;
}

#submit-form:disabled {
    background-color: #6e6e6e;
    
}

footer {
    color: #c2d9ff;
    text-align: center;
    padding: 1rem;
    font-size: 2vh;
}

@media screen and (max-width: 750px) {

    .left dot,
    .left .techs {
        float: left;
    }

    .left .content {
        text-align: left;
        float: left;
    }

    .container {
        width: 100%;
    }

    .right {
        float: left;
    }
}

@media screen and (max-width: 540px) {
    #header-menu {
        justify-content: right;
    }

    .nav-menu {
        display: block;
    }

    .menu-option {
        display: none;
    }

    #contact-form{
        grid-template-rows: repeat(3, 1fr) auto 1fr;
    }

    #form-group-name {
        grid-area: 1 / 1 / 2 / 3;
    }

    #form-group-email {
        grid-area: 2 / 1 / 3 / 3;
    }

    #form-group-message {
        grid-area: 3 / 1 / 4 / 3;
    }

    #recaptcha-branding {
        grid-area: 4 / 1 / 5 / 3;
    }
    #submit-form{
        grid-area: 5 / 1 / 6 / 3;
    }
        


}

@media screen and (max-width: 487px) {
    #intro-menu nav ul li {
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    #intro .row-1 {
        padding-top: 5vh;
    }
}

@media screen and (max-width: 350px) {
    #big-logo {
        max-height: 25vh;
    }
}